demo
.gitignore
Readme.md
chainlit.md
Local Florence Installation.md
.git

# Ignore pycache in the root and ALL subdirectories
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd

# Ignore the local model folder during BUILD
hf_cache/