version: '3.8'

services:
  florence-ai:
    build:
      context: .
      network: host
      args:
        - DEVICE=${ACCELERATOR:-cpu}
    container_name: florence_ai
    image: florence_ai
    networks:
      - florence-net
      - infra-storage
    env_file: .env 
    ports:
      - "${CHAINLIT_PORT}:8010"
      - "${FASTAPI_PORT}:8000"
    volumes:
      - .:/app
    restart: unless-stopped
    entrypoint: ["./entrypoint.sh"]
    devices:
      - ${AMD_GPU_DEVICE:-/dev/null}:${AMD_GPU_DEVICE:-/dev/null}

networks: 
  florence-net:
    name: florence-net
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.0.0/24  # Forces this specific safe range
  infra-storage:
    external: true