version: '3.8'

services:
  florence-ai:
    build:
      context: .
      network: host
    container_name: florence_ai
    image: florence_ai
    networks:
      - florence-net
      - infra-storage
    env_file: .env 
    ports:
      - "${CHAINLIT_PORT}:8010"
      - "${FASTAPI_PORT}:8000"
    volumes:
      - .:/app
      # Change this line to map your local download into the container
      - ./hf_cache:/app/hf_cache 
    restart: unless-stopped
    entrypoint: ["./entrypoint.sh"]

networks: 
  florence-net:
    name: florence-net
    driver: bridge
  infra-storage:
    external: true